{% extends 'template.html' %}


{% block contenedor %}
    <div class="row">
      <div class="demo-ribbon"></div>
      <div class="demo-layout">        
        <main class="demo-main">
          <div class="demo-container">
            
            <div class="demo-content card-panel col s12 m8 offset-m2">
               

                 
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s5">
              <img src="/dssd2016/images/drive.png" width="200px" height="200px" > <!-- notice the "circle" class -->
            </div>
            <div class="col s7">
              <span class="black-text">
               <h6>Tienes que iniciar sesión en google para continuar </h6> <br><br>
                
              </span>
              <a href="/dssd2016/listado.php" class="btn waves-effect waves-teal  grey darken-1 "> Iniciar sesión </a>
            </div>
          </div>
        </div>
      
            
              
                  
             
            
              </div>




                     
            </div>
          </div>
        </main>
      </div>
    </div>  
{% endblock  %}
{% block footer %}
{% endblock %}
