{% extends 'template.html' %}


{% block contenedor %}
    <div class="row">
      <div class="demo-ribbon"></div>
      <div class="demo-layout">        
        <main class="demo-main">
          <div class="demo-container">
            <div class=""></div>
            <div class="demo-content card-panel col s12 m8 offset-m2">
              <div class="row">
                 <div class="col s12" >
                <div class="col s10"> 
                     <img src="/images/drive.png" width="150px" height="150px">
                </div>
                 <div class="col s2">                   
                    <a class="waves-effect waves-light btn modal-trigger  blue darken-1" href="#modal1">   
                    <i class="material-icons">add</i> </a>
                </div>
                
              </div>
              <div class="col s7"> 
                   <h4>Documentos disponibles</h4> 
                </div>
                
            
              </div>


            <div id="modal1" class="modal modal-fixed-footer">
                <div class="modal-content">
                  <h4>Crear nuevo documento</h4>
                  <form  id="form1"  class="col s12" method="GET" action="subir_archivo.php">
                        <label for="nombre"> Nombre documento</label>
                        <input type="text" name="nombre" size="20" class="validate" placeholder="Nombre del documento" required>
                        <label for="mail"> Mail a compartir </label>
                         <input id="email" type="email"  name="mail" class="validate" size="20" 
                          placeholder="Mail a compartir" required>
                        
                </div>
                <div class="modal-footer">
                <button class=" waves-effect btn-flat " type="submit"> Agregar</button>
                  <a href="#!" class="modal-action modal-close waves-effect btn-flat ">cancelar</a>
                  </form>
                </div>
              </div>

               <blockquote>
                <b>Info!</b> Para eliminar tus permisos sobre un documento: Compartir->Avanzada 
                </blockquote>
               <table class="striped">
                  <thead>
                    <tr>
                        <th></th>
                        <th data-field="name">Name</th>
                        <th data-field="id"></th>
                        
                    </tr>
                  </thead>
                  <tbody>                   
                      {% for file in files %}
                       <tr>
                             <td> 
                              {% if file.type == 'application/vnd.google-apps.folder' %}
                                  <i class="fa fa-folder fa-1x" aria-hidden="true"></i>
                              {% else %}
                                 <i class="fa fa-file-text fa-1x" aria-hidden="true"></i>
                              {% endif %}
                             </td>

                             <td> {{file.name}}</td>
                          
                             <td>
                               {% if file.shared == 1 %}
                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                               {% endif %}                               
                             </td>   
                             <td style="text-align:right">
                                <a class="btn waves-effect waves-teal  grey darken-2 "   onclick='Shared("{{file.id}}")'>Compartir</a>
                             </td>                            
                              
                            
                            
                      </tr>
                      {% endfor %}  
                  </tbody>
                </table>
                                     
                     
            </div>
          </div>
        </main>
      </div>
    </div>  
{% endblock  %}

